.li {
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 4px 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
.li:hover {
  background-color: #e73213;
  color: white;
}
.active {
  background-color: red;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
